         #login:hover{
                background-color: #006400;
                border-color:#006400; 
                color:white;      
            }
            #signin:hover{
                background-color: #006400;
                border-color:#006400; 
                color:white;     
            }
            #login{
                margin-top:15px;
                margin-right:10px;
                float:right;
                padding:10px 35px 10px 35px;
                font-size:20px;
                border-radius:8px;
                border-width:1px;
                color:black;
                background-color:#FFC133;
                border-color: #FFC133;
                
                
            }
            #signin{
               margin-top:15px;
                margin-right:10px;
                float:right;
                padding:10px 35px 10px 35px;
                font-size:20px;
                border-radius:8px;
                border-width:1px;
                color:black;
                 background-color:#FFC133;
                border-color: #FFC133;
            }
         